# First IP
IP1=155.223.128.1
# Last IP
IP2=155.223.128.32
# Time To Live
TTL=64
# Console output if remove (#) 
CONSOLE=
# Dump File (.csv)
# If don't want to create ip dumpfile
#DUMP=/Users/alimuratergin/Desktop/ipscan-
DUMP=
